Main/gobj.txt
Main/log.txt
Main/permanent_log.txt
Main/Save/AutoSave/Auto*.rvdata2
Main/Save/Save9*.rvdata2
Main/Save/Save100.rvdata2
permanent_log.txt
log.txt
gobj.txt
Main/Data/AlbumArtSmall.jpg
Main/Data/Folder.jpg
Log.log

/Main/System/local.rvdata2

Ext/*.so
Ext/*.o
Ext/.vscode
Ext/curl/.vscode

Ext/ipch/
Ext/*/*.aps
Ext/*/*.ncb
Ext/*/*.opendb
Ext/*/*.opensdf
Ext/*/*.sdf
Ext/*/*.cachefile
Ext/*/*.VC.db
Ext/*/*.VC.VC.opendb
Ext/*/*.tlog
Ext/*/*.log
Ext/*/*.obj
Ext/*/*.pdb

Ext/*/*.suo
Ext/*/*.user

Ext/ExtensionMainDLL/Release
Ext/ExtensionMainDLL/Debug

Ext/*/*.lastbuildstate
